/* Set background image based on screen size*/
@media screen and (max-width: 1024px) {
    .main-flex-item {
        flex: 100%;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("images/bg-mobile.svg");
    text-align: center;
    padding: 1em 2.5em 0 2.5em;
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    align-self: flex-start;
    flex: 1;
    display: flex;
}

#logo {
    max-width: 8em;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 2;
    min-height: 60vh;
    min-width: 80vw;
}

.main-flex-item {
    flex: 100%;
}

img.main-flex-item {
    padding-right: 0.5em;
    width: 50%;
    position: relative;
}

.register-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: white;
    border: white;
    border-radius: 1.7em;
    color: hsl(257, 40%, 49%);
    padding: 0.75em 5em;
    margin-top: 0.75em;
}

.register-button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer {
    flex: 1;
    display: flex;
    align-items: center;
}

#icons * {
    padding: 0.5em;
    border: 0.1em solid white;
    border-radius: 50%;
    font-size: 1em;
    min-width: 1em;
    min-height: 1em;
    contain: strict;
    text-align: center;
    box-sizing: content-box;
    margin: 0.2em;
}

@media screen and (min-width: 1025px) {
    body {
        background-image: url("images/bg-desktop.svg");
        padding: 0 5em 1.5em 5em;
        text-align: left;
    }

    header {
        align-items: flex-end;
    }

    #logo {
        max-width: 13em;
    }

    h1 {
        font-size: 2.5em;
        padding-right: 2em;
    }

    .main-flex-item {
        flex: 50%;
    }

    img.main-flex-item {
        padding-right: 0.5em;
        position: relative;
        top: 3em;
    }

    section.main-flex-item {
        padding-left: 4em;
        position: relative;
        top: -0.8em;
    }

    section.main-flex-item p {
        font-size: 1.1em;
        padding-right: 3em;
        margin: 0.5em;
    }

    .register-button {
        padding: 0.75em 4em;
    }

    footer {
        align-self: flex-end;
        padding-right: 4em;
    }
}